/*=================================================================================================================*/
/*=================================================================================================================*/
/*carousel tutorial page===========================================================================================*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Source Sans Pro', sans-serif;
}
body{
  display: flex;
  padding: 0 35px;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background: #343F4F;
}

.wrapper{
  display: flex;
  max-width: 1200px;
  position: relative;
  margin-top: 20%;
}
.wrapper i{
  top: 50%;
  height: 44px;
  width: 44px;
  color: #343F4F;
  cursor: pointer;
  font-size: 1.15rem;
  position: absolute;
  text-align: center;
  line-height: 44px;
  background: #fff;
  border-radius: 50%;
  transform: translateY(-50%);
  transition: transform 0.1s linear;
}
.wrapper i:active{
  transform: translateY(-50%) scale(0.9);
}
.wrapper i:hover{
  background: #f2f2f2;
}
.wrapper i:first-child{
  left: -22px;
  display: none;
}
.wrapper i:last-child{
  right: -22px;
}
.wrapper .carousel{
  font-size: 0px;
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
  scroll-behavior: smooth;
}
.carousel.dragging{
  cursor: grab;
  scroll-behavior: auto;
}
.carousel.dragging img{
  pointer-events: none;
}
.carousel img{
  height: 300px;
  object-fit: cover;
  user-select: none;
  margin-left: 14px;
  width: calc(100% / 5);
  border-radius: 20px;
}
.carousel img:first-child{
  margin-left: 0px;
}

@media screen and (max-width: 900px) {
  .carousel img{
    width: calc(100% / 2);
  }
}

@media screen and (max-width: 550px) {
  .carousel img{
    width: 100%;
  }
}
/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.wrapper2{
  display: flex;
  max-width: 1200px;
  position: relative;
  margin-top: 20%;
}
.wrapper2 i{
  top: 50%;
  height: 44px;
  width: 44px;
  color: #343F4F;
  cursor: pointer;
  font-size: 1.15rem;
  position: absolute;
  text-align: center;
  line-height: 44px;
  background: #fff;
  border-radius: 50%;
  transform: translateY(-50%);
  transition: transform 0.1s linear;
}
.wrapper2 i:active{
  transform: translateY(-50%) scale(0.9);
}
.wrapper2 i:hover{
  background: #f2f2f2;
}
.wrapper2 i:first-child{
  left: -22px;
  display: none;
}
.wrapper2 i:last-child{
  right: -22px;
}
.wrapper2 .carousel2{
  font-size: 0px;
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
  scroll-behavior: smooth;
}
.carousel2.dragging{
  cursor: grab;
  scroll-behavior: auto;
}
.carousel2.dragging img{
  pointer-events: none;
}
.carousel2 img{
  height: 300px;
  object-fit: cover;
  user-select: none;
  margin-left: 14px;
  width: calc(100% / 5);
  border-radius: 20px;
}
.carousel2 img:first-child{
  margin-left: 0px;
}

@media screen and (max-width: 900px) {
  .carousel2 img{
    width: calc(100% / 2);
  }
}

@media screen and (max-width: 550px) {
  .carousel2 img{
    width: 100%;
  }
}
/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.wrapper3{
  display: flex;
  max-width: 1200px;
  position: relative;
  margin-top: 20%;
}
.wrapper3 i{
  top: 50%;
  height: 44px;
  width: 44px;
  color: #343F4F;
  cursor: pointer;
  font-size: 1.15rem;
  position: absolute;
  text-align: center;
  line-height: 44px;
  background: #fff;
  border-radius: 50%;
  transform: translateY(-50%);
  transition: transform 0.1s linear;
}
.wrapper3 i:active{
  transform: translateY(-50%) scale(0.9);
}
.wrapper3 i:hover{
  background: #f2f2f2;
}
.wrapper3 i:first-child{
  left: -22px;
  display: none;
}
.wrapper3 i:last-child{
  right: -22px;
}
.wrapper3 .carousel3{
  font-size: 0px;
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
  scroll-behavior: smooth;
}
.carousel3.dragging{
  cursor: grab;
  scroll-behavior: auto;
}
.carousel3.dragging img{
  pointer-events: none;
}
.carousel3 img{
  height: 300px;
  object-fit: cover;
  user-select: none;
  margin-left: 14px;
  width: calc(100% / 5);
  border-radius: 20px;
}
.carousel3 img:first-child{
  margin-left: 0px;
}

@media screen and (max-width: 900px) {
  .carousel3 img{
    width: calc(100% / 2);
  }
}

@media screen and (max-width: 550px) {
  .carousel3 img{
    width: 100%;
  }
}
/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.wrapper4{
  display: flex;
  max-width: 1200px;
  position: relative;
  margin-top: 20%;
}
.wrapper4 i{
  top: 50%;
  height: 44px;
  width: 44px;
  color: #343F4F;
  cursor: pointer;
  font-size: 1.15rem;
  position: absolute;
  text-align: center;
  line-height: 44px;
  background: #fff;
  border-radius: 50%;
  transform: translateY(-50%);
  transition: transform 0.1s linear;
}
.wrapper4 i:active{
  transform: translateY(-50%) scale(0.9);
}
.wrapper4 i:hover{
  background: #f2f2f2;
}
.wrapper4 i:first-child{
  left: -22px;
  display: none;
}
.wrapper4 i:last-child{
  right: -22px;
}
.wrapper4 .carousel4{
  font-size: 0px;
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
  scroll-behavior: smooth;
}
.carousel4.dragging{
  cursor: grab;
  scroll-behavior: auto;
}
.carousel4.dragging img{
  pointer-events: none;
}
.carousel4 img{
  height: 300px;
  object-fit: cover;
  user-select: none;
  margin-left: 14px;
  width: calc(100% / 5);
  border-radius: 20px;
}
.carousel4 img:first-child{
  margin-left: 0px;
}

@media screen and (max-width: 900px) {
  .carousel4 img{
    width: calc(100% / 2);
  }
}

@media screen and (max-width: 550px) {
  .carousel4 img{
    width: 100%;
  }
}




















/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/* background video mp4 10sec*/
#bg-video {
    position: fixed;
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    min-width: 100%;
    min-height: 100%;
    transform: translateX(-50%) translateY(-50%);
    z-index: -100;
    background-image: url("../img/bg-lol.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #000000;
}

/*menu inicial img logo do trunfo poderia ser txt tb */
.logo-menu-position{
    position: absolute;
    margin-left: 4%;
    margin-top: 2%;
    top: 0;
    left: 0;
}
.logo-menu-size{
    width: 200px;
    height: 200px;
}


/* barra de nav c atalhos e hover */
.top-right {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 30px;
}
.navbar a {
    color: white;
    font-family: 'Aboreto', cursive;
    font-size: 1.5rem;
}
.navbar .navbar-nav .nav-item {
    margin-left: 15px;
    margin-right: 15px;
}
.navbar .navbar-nav .nav-item .nav-link {
    font-size: 1.5rem;
    padding: 15px 45px;
    border-bottom: 1px solid white;
}
.nav-item {
    position: relative;
}
.circle {
    position: absolute;
    left: calc(50% - 10px);
    bottom: -10px;
    width: 20px;
    height: 20px; 
    background-color: white;
    border-radius: 50%;
}
.navbar .navbar-nav .nav-item.selected .nav-link,
.navbar .navbar-nav .nav-item .nav-link:hover {
    color: #03e9f4;
    border-bottom: 1px solid #03e9f4;
}
.cd-slider-nav li.selected a+.circle,
.navbar .navbar-nav .nav-item .nav-link:hover+.circle {
    background-color: #03e9f4;
}
/* duvida#66fff5 */ 

.organizer{
  margin-top: 20%;
  display: grid;
  grid-template-rows: 1fr;
}


.deck-title{
  font-size: 2.4rem;
  color: white;
  position: absolute;
  margin-top: -10%;
  z-index: 9999;
}
.main-title{
  font-family: 'Nabla', cursive;
  text-align: center;
  font-size: 2.7rem;
  top: 30%;
  left: 15%;
  color: white;
  position: absolute;
  z-index: 9999;
}