#lol-bg{
    position: fixed;
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    min-width: 100%;
    min-height: 100%;
    transform: translateX(-50%) translateY(-50%);
    z-index: -100;
    background-image: url("../img/bg-lol.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #000000;
  }

body {
    font-family: 'Roboto Mono', monospace;
    padding-bottom: 20vh;
}


/*botao de voltar */
.logo-menu-position{
    position: absolute;
    margin-left: 4%;
    margin-top: 0%;
    top: 0;
    left: 0;
}
.logo-menu-size{
    width: 200px;
    height: 200px;
}

/* barra de nav c atalhos e hover */
.top-right {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 30px;
}
.navbar a {
    background-color: rgba(0, 0, 0, 0.95);
    color: white;
    font-family: 'Aboreto', cursive;
    font-size: 1.5rem;
    border-radius: 50%;
}
.navbar .navbar-nav .nav-item {
    margin-left: 15px;
    margin-right: 15px;
}
.navbar .navbar-nav .nav-item .nav-link {
    font-size: 1.5rem;
    padding: 15px 45px;
    border-bottom: 1px solid white;
}
.nav-item {
    position: relative;
}
.circle {
    position: absolute;
    left: calc(50% - 10px);
    bottom: -10px;
    width: 20px;
    height: 20px; 
    background-color: white;
    border-radius: 50%;
}
.navbar .navbar-nav .nav-item.selected .nav-link,
.navbar .navbar-nav .nav-item .nav-link:hover {
    color: #03e9f4;
    border-bottom: 1px solid #03e9f4;
}
.cd-slider-nav li.selected a+.circle,
.navbar .navbar-nav .nav-item .nav-link:hover+.circle {
    background-color: #03e9f4;
}
.nav-item:hover{
  background-color: rgba(0, 0, 0, 0.564);
  border: 1px solid #66fff5;
  border-radius: 50%;
}

.page-logo {
    height: 200px;
    width: 700px;
    position: relative;
    margin-top: -60px;
    margin-left: 4%;
  }

.container {
    text-align: center;
    padding: 20px;
}

.page-title {
    color: #ffffff;
    margin: 5px 0;
}

.btn-sorteio {
    width: 10rem;
    max-width: 10rem;
    padding: 0.8rem 1.5rem;
    margin: 2rem auto;
    border-radius: 50px;
    background-image: linear-gradient(45deg, #4568DC , #B06AB3, #df7706);
    border: none;
    font-size: 1rem;
}
.btn-bottom{
  display: grid;
  grid-template-columns: 1fr;
}
.centter{
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
}


#carta-jogador,
#carta-maquina {
    width: 360px;
    height: 500px;
    overflow: auto;
    margin: 0 auto;
    display: flex;
    align-items: flex-end;
    position: relative;
    background-size: 340px 300px;
    background-repeat: no-repeat;
    background-position-x: 10px;
    background-position-y: 5px;
    border-radius: 33px;
}

#carta-jogador h3 {
    text-align: center;
}

.carta-imagem {
    border: 1px solid black;
    height: 100px;
    margin: 10px;
}

.carta-imagem img {
    width: 100%;
    height: 100%;
}

.carta-status {
    height: 160px;
    margin: 2rem;
    color: white;
    z-index: 2;
}

.carta-status input {
    margin: 20px 10px;
}

.carta-status p {
    margin-bottom: 2rem;
}

.aboveall {
    position: relative;
    width: 100%;
    height: 100vh;
  }

.resultado-final {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    color: white;
    font-size: 2rem;
    width: 30%;
    padding: 5%;
    text-transform: uppercase;
    font-weight: bolder;
    border-radius: 100px;
    border: 2px solid rgb(176, 140, 10);
    background-color: rgba(0, 0, 0, 0.68);
}


.--spacing {
    margin-left: 2.5rem;
}

form {
    display: flex;
    flex-direction: column;
}

.wrapper {
    display: flex;
    flex-direction: column;
}

.carta-subtitle {
    z-index: 2;
    position: absolute;
    top: 30px;
    left: 37px;
    font-weight: 800;
    text-transform: uppercase;
}

#cartas {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#container-placar {
    width: 700px;
    height: 250px;
    border-radius: 20px;
    display: flex;
    position: relative;
    margin: 0 auto;
    background-color: #00000093;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: 'Londrina Outline', cursive;
    font-size: 40px;
    color: white;
    padding-bottom: 5%;
    margin-bottom: 2%;
}
ul, li {
    list-style-type: none;
} 

.placar-title{
    font-family: 'Nabla', cursive;
}

#atb-escolhido{
    padding-top: 3%;
    width: 700px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 30px;
    font-family: 'Londrina Outline', cursive;
}
